[submodule "extlibs/vrm_pp"]
	path = extlibs/vrm_pp
	url = https://github.com/SuperV1234/vrm_pp.git
[submodule "extlibs/vrm_core"]
	path = extlibs/vrm_core
	url = https://github.com/SuperV1234/vrm_core.git
[submodule "extlibs/SSVCMake"]
	path = extlibs/SSVCMake
	url = https://github.com/SuperV1234/SSVCMake.git
